<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola soy Francisca, soy la menor y naci el anio {{anio_nacimiento}}</h1>
    <h2>Esta es mi familia:</h2>
    <p>Nombres: </p>
    <p>
        {% for Nombre in nombre %}
            <li> {{ Nombre }} </li>
               
        {% endfor %}
    <p>Edades: </p>  
        {% for Edad in edad %}
            <li> {{ Edad }} </li>
        {% endfor %} 
    </p>
</body>
</html>